.header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 1rem;
    background: #00A2Ed;
    padding: 0 0.5rem;
    line-height: 1rem;;
    color: #ffffff;
    font-size: 0.46rem;
}
.header span{
    padding-left: 0.3rem;
}
.header div{
    height: 1rem;;
    line-height:1rem;;
    float: right;
}
.anticon{
    color: #ffffff;
    padding-left: 0.3rem;
    /* display: inline-block; */
}
.anticon-menu,.anticon-arrow-left{
    padding-left: 0;
}