.box{
    position: relative;
}
.header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 1rem;
    background: #00A2Ed;
    padding: 0 0.3rem;
    line-height: 1rem;;
    color: #ffffff;
    font-size: 0.36rem;
}
.header .left{
    float: left;
}
.left .anticon{
    padding-left: 0
}
.header span{
    padding-left: 0.3rem;
}
.header .right{
    float: right;
}
.right .star{
    color: #ffffff;
    padding-left: 0.3rem;
    /* display: inline-block; */
}
.right .ystar{
    color: yellow;
    padding-left: 0.3rem;
}
.right b{   
    font-size: 0.34rem;
    font-weight: normal;
    color: #fff;
    line-height: 1rem;
}
.headImg img{
    width: 100%;
    height: 2rem;
}
.title{
    position: absolute;
    width: 100%;
    height: 200px;
}
.title img{
    width: 100%;
    height: 200px;
}
